global
    log /dev/log local0
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s

defaults
    log global
    mode tcp
    option dontlognull
    timeout connect 5s
    timeout client 3h
    timeout server 3h

# Dual-mode multiplexer: seamlessly routes TLS (MQTTS) to 8884 and Plain TCP (MQTT) to 1883
frontend mqtt_multiplexer
    bind 0.0.0.0:1883
    mode tcp
    tcp-request inspect-delay 3s
    tcp-request content accept if { req_ssl_hello_type 1 }
    tcp-request content accept if { req.len gt 0 }

    use_backend backend_mosquitto_tls if { req_ssl_hello_type 1 }
    default_backend backend_mosquitto_plain

backend backend_mosquitto_tls
    mode tcp
    server s_tls 127.0.0.1:8884 check

backend backend_mosquitto_plain
    mode tcp
    server s_plain 127.0.0.1:1883 check
